<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <main>
    <div class="sh-login">
      <div class="sh-login__logo">
        <a href="#" class="sh-logo">
          <%= image_tag "Sharehub.svg" %>
        </a></div>
      <div class="sh-login__content">
        <p>Sign up to Birdy</p>
        <div class="sh-login__form">
            <input type="text" class="form-control" placeholder='Username'>
            <br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder: 'Email' %>
            <br>
            <% if @minimum_password_length %>
              <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "off", class:'form-control', placeholder: 'Password' %>
            <br>
            <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control', placeholder: 'Retype password' %>
            <br>
            <div class="sh-login__send">
              <%= render "devise/shared/links" %>
              <%= f.submit t('.sign_up'), class:'sh-btn' %>
            </div>
        </div>
      </div>
    </div>
  </main>

<% end %>


