<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'partials/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if is_current_user?(@user) %>
    <% else %>
      <%= render 'follow_form' if user_signed_in? %>
    <% end %>
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol>
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>