<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'partials/user_info' %>
      </section>
      <section class="stats">
        <%= render 'partials/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'partials/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'partials/feed' %>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <h1 class="display-4">Birdy!</h1>
    <p class="lead">Un réseau social codé en Ruby on Rails, comme Twitter !</p>
    <hr class="my-4">
    <img src="/img/birdy.PNG" height="200", width="244">
    <p class="lead">
      <%= link_to "Inscris-toi!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>

<% end %>