<!-- app/views/home/index.html.erb -->
<h1>
  Ceci est la page d'accueil du projet
  <%= Rails.application. class.parent_name %> !

</h1>
<div id="user_nav">
  <% if user_signed_in? %>
    Connecté en tant que <%= current_user.email %>.
    <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</div>