  <!DOCTYPE html>
  <html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="Birdy - Twitter like">
    <meta name="description" content="Birdy - The ultimate twitter like in Ruby on Rails">
    <meta name="author" content="buttercorp.xyz">
    <title>Birdy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- STYLESHEET -->
    <!-- FONTS -->
    <!-- Muli -->
    <link href="https://fonts.googleapis.com/css?family=Signika:300,400,600,700" rel="stylesheet">

    <!-- icon -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <%= stylesheet_link_tag 'style-sh', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Vendor -->
    <!-- Custom -->
    <%= stylesheet_link_tag 'magnific-popup', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- JAVA SCRIPT -->
    <!-- require -->
    <%= javascript_include_tag 'require', 'data-turbolinks-track': 'reload' %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'datepicker', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <!-- HEADER -->
  <% if user_signed_in? %>
    <header>
      <div class="sh-header">
        <div class="container">
          <h1>
            <a href="{% url 'home' %}" class="sh-logo">
              <%= image_tag "logo.png" %>
            </a>
          </h1>
          <div class="sh-header__control">
            <a href="#" class="sh-header__btn-notification sh-btn-icon"><i class="icon-Notification"></i></a>
          </div>
          <div class="sh-header__control">
            <a href="#" class="sh-header__btn-comment sh-btn-icon"><i class="icon-Comment"></i></a>
          </div>
          <div class="sh-user">
            <div class="sh-user__head">
              <p>3 New Notifications</p>
              <a href="#" class="sh-user__close sh-btn-icon"><i class="icon-Cancel"></i></a>
            </div>
            <div class="sh-user__content">
              <div>
                <div><a href="#">
                  <%= image_tag "Badge_03.svg" %>
                </a></div>
                <div>
                  <div>New Badge Earned</div>
                  <span>Get 1K upvotes on your post</span>
                </div>
              </div>
              <div>
                <div><a href="#">
                  <%= image_tag "avatar-02.png" %>
                </a></div>
                <div>
                  <div>Life choices of my cat</div>
                  <span>Earned <i class="icon-Upvote"></i> 210</span>
                </div>
              </div>
            </div>
            <div class="sh-user__footer">
              <a href="#" class="sh-comments__avatar sh-avatar">
                <%= image_tag "avatar-01.png" %>
              </a>
              <div>
                <a href="#">bastion . </a>
                <span>1 hour ago</span>
                <p>Hey, how’s it going nathun?</p>
              </div>
            </div>
          </div>
          <script>
              require(['app'], function () {
                  require(['modules/menu']);
              });
          </script>

          <div class="sh-header__control">
            <a href="{% url 'profile' user.id %}" class="sh-header__avatar sh-avatar">
              {% avatar user %}
            </a>
          </div>
          <div class="sh-header__control">
            <a href="#" class="sh-header__btn-upload sh-btn"><i class="icon-Comment"></i> Tweet</a>
          </div>
          <div class="sh-header__control">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'set-btn' %>
          </div>
          <div class="sh-upload"> <!-- TWEET HERE -->
            <form method="post">
              <div class="sh-upload__head">
                <input type="text" class="form-control ttg-border-none" name="content" placeholder="Tweetez" />
                {% csrf_token %}
              </div>
              <div class="sh-upload__footer">
                <input class="sh-btn" type="submit">
              </div>
            </form>
          </div>
        </div>
        <script>
            require(['app'], function () {
                require(['modules/main']);
                require(['modules/upload']);
            });
        </script>
      </div>
      </div>
    </header>
    <% else %>
    <header>
      <div class="sh-header">
        <div class="container">
          <h1>
            <a href="{% url 'home' %}" class="sh-logo">
              <%= image_tag "logo.png" %>
            </a>
          </h1>
          <div class="sh-header__control">
            <%= link_to 'Register', new_user_registration_path, class: 'sh-btn' %>
          </div>
          <div class="sh-header__control">
             <%= link_to 'Sign in', new_user_session_path, class: 'set-btn' %>
          </div>
        </div>
      </div>
      <% end %>

  <!-- MAIN -->
  <div class="container" style="margin-top: 10px">
    <%= yield %>
  </div>
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </body>
  </html>
